<div class="container">
  <div class="spacer-100px"></div>
  <div class="title">
    <h1>Projects</h1>
  </div>
  <section class="box-wrapper">
    <div [routerLink]="['/noa']" class="project-wraper">
      <div class="project-box">
        <h4>NOA Asia Special</h4>
        <div>E-commerce website</div>
      </div>
      <img class="noa" alt="">
    </div>
    <div class="project-wraper" [routerLink]="['/monosoushi']">
      <div class="project-box">
        <h4>Monosushi</h4>
        <div>E-commerce website</div>
      </div>
      <img class="monosoushi" alt="">
    </div>
    <div [routerLink]="['/angular-tasks']" class="project-wraper">
      <div class="project-box">
        <h4>Angular tasks</h4>
        <div>Work with Angular</div>
      </div>
      <img class="angular-tasks" alt="">
    </div>
    <div [routerLink]="['/my-time-site']" class="project-wraper">
      <div class="project-box">
        <h4>My team</h4>
        <div>Company website</div>
      </div>
      <img class="team-web-site" alt="">
    </div>
    <div [routerLink]="['/second-project']" class="project-wraper">
      <div class="project-box">
        <h4>Dreamshare</h4>
        <div>Landing Page</div>
      </div>
      <img class="second-project" alt="">
    </div>
    <div [routerLink]="['/first-project']" class="project-wraper">
      <div class="project-box">
        <h4>Personal website</h4>
        <div>Single page website</div>
      </div>
      <img class="first-project" alt="">
    </div>
  </section>
</div>