<footer>
  <address class="data">
    <a title="Dial the number!" href="tel:+380975483070">Phone nunber:
      <span> +380 97 548 30 70</span>
    </a>
    <a title="Click to send me job offers!" href="mailto: dolbnja9@gmail.com">Email:
      <span>dolbnja9@gmail.com</span>
    </a>
  </address>
  <div class="social">
    <ul>
      <li>
        <a class="facebook" href="https://www.facebook.com/oleksandr.dolbnja" target="_blank">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <div class="fb"></div>
        </a>
      </li>
      <li>
        <a class="linkedin" href="https://www.linkedin.com/in/oleksandr-dolbnia/" target="_blank">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <div class="in"></div>
        </a>
      </li>
      <li>
        <a class="github" href="https://github.com/Oleksandr-D" target="_blank">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <div class="git"></div>
        </a>
      </li>
    </ul>
  </div>
</footer>