<header class="desktop-header">
  <h3>
    <a class="logo" [routerLink]="['/']">Oleksandr<br>Dolbnia</a>
  </h3>
  <nav class="desktop-nav">
    <ul>
      <li><a [routerLink]="['/']" routerLinkActive="route-active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li><a [routerLink]="['/work']" routerLinkActive="route-active">Work</a></li>
      <li><a [routerLink]="['/about']" routerLinkActive="route-active">About</a></li>
      <li><a [routerLink]="['/contact']" routerLinkActive="route-active">Contact</a></li>
    </ul>
  </nav>
</header>

<header class="mobile-header" (click)="mobileMenu()">
  <nav class="burger-icon" [ngClass]="{'mobile-nav':isOpen}">
    <ul>
      <li><a [routerLink]="['/']" (click)="toTop()">Home</a></li>
      <li><a [routerLink]="['/work']" (click)="toTop()">Work</a></li>
      <li><a [routerLink]="['/about']" (click)="toTop()">About</a></li>
      <li><a [routerLink]="['/contact']" (click)="toTop()">Contact</a></li>
    </ul>
  </nav>
</header>