<section>
  <div class="navi-wrap">
    <a [routerLink]="['/work']">
      <img src="../../../assets/Images/arrow_back_icon.svg" alt="arrow_back">
      <div>Back</div>
    </a>
  </div>
  <div class="title">
    <h1>NOA Asia Special</h1>
  </div>
  <div class="wraper-block">
    <div class="image-block">
      <a href="https://n-o-a-5244f.web.app/" target="_blank">
        <img src="../../../assets/Images/noa.jpg" alt="Safeguard image">
      </a>
    </div>
    <div class="info-block">
      <p>
        The "NOA Asia Special" project represents my work experience in front-end
        development and showcases my skills and abilities. Key highlights of the project include:
      </p>
      <ul>
        <li>Development of a responsive website using the Angular framework.</li>
        <li>Utilization of ready-made solutions such as modules, classes, directives, pipes, and guards
          to build the website's functionality.
        </li>
        <li>Implementation of 3 levels of user access: public pages, user-specific pages with data storage
          for user profiles and orders, and an admin panel for managing products, categories, promotions,
          and viewing all orders.
        </li>
        <li>Integration of Firebase Firestore Database for data storage and management of products, users,
          and orders.
        </li>
        <li>Deployment of the website on Firebase Hosting for online accessibility.</li>
        <li>Using the Git version control system and hosting the project code on GitHub.</li>
      </ul>
      <p>The "NOA Asia Special" project demonstrates my ability to develop functional and visually
        appealing interfaces using modern technologies. I am ready to contribute to your team and expand
        my skills through real-world projects.
      </p>
      <p>Feel free to explore my project on my GitHub profile, where you can review the code and delve into
        the detailed project structure.
      </p>
      <a href="https://n-o-a-5244f.web.app/" target="_blank">
        <p class="projeckt-url">Go to project</p>
      </a>
    </div>
  </div>
  <div class="spacer-80px"></div>
</section>