@import'../../shared/styles/variables';

.container-fluid {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgb(0, 0, 0), rgba(2, 19, 18, 0.900)), url('../../../assets/Images/welcome_backgr.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

h3 {
  line-height: 82%;
  margin-left: 25px;
  position: absolute;
  top: 18px;
  left: 50px;
}

.logo {
  font-size: 14px;
  line-height: 135%;
}

.logo::after {
  content: "";
  position: absolute;
  background-color: #151515;
  width: 20px;
  height: 20px;
  border: 3px solid #da3737;
  top: 24px;
  bottom: 0;
  left: 60px;
  margin: 0px auto;
  z-index: 1;
  animation: logo 3s ease-in infinite alternate;
}

@keyframes logo {
  0% {
    transform: rotateZ(220deg);
  }

  50% {
    transform: rotateZ(0deg)
  }

  100% {
    transform: rotateZ(0deg)
  }
}

.wraper {
  margin: 0 auto;
  position: relative;
}

.square {
  width: 300px;
  height: 300px;
  border: 12px solid $second-color;
}

.wraper-text {
  position: absolute;
  top: 91px;
  left: 105px;
}

.info {
  width: 100%;

  h1 {
    font-family: $main-fontBold;
    font-size: 94px;
    line-height: 100%;
    letter-spacing: 33px;
    text-align: center;
  }

  p {
    font-size: 17px;
    line-height: 140%;
    margin-top: 30px;
    color: $second-text-color;
    text-align: center;
  }
}

.button-wraper {
  display: flex;
  justify-content: center;
  margin: 50px 0px 0px 10px;

  a {
    display: block;
    width: fit-content;
  }
}

.btn {
  width: 210px;
  height: 55px;
  font-size: 16px;
  letter-spacing: 6px;
  font-family: "Jura-bold", sans-serif;
  color: #f4f4f4;
  text-align: center;
  line-height: 45px;
  margin: 0 auto;
  position: relative;
  border-radius: 0px;
  padding: 5px 5px;
  text-transform: uppercase;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  user-select: none;
  box-shadow: 0px 0px 20px 0px rgb(235, 235, 235);
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 1px 0px rgb(255, 255, 255);
  }

  100% {
    transform: scale(1.01);
    box-shadow: 0 0 50px 30px rgba(255, 255, 255, 0.009);
  }
}

.btn:before,
.btn:after {
  content: '';
  position: absolute;
  transition: inherit;
  z-index: -1;
}

.btn:hover {
  color: black;
  transition-delay: 0.5s;
  z-index: 1;
}

.btn:hover:before {
  transition-delay: 0s;
}

.btn:hover:after {
  background: $main-text-color;
  transition-delay: .35s;
}

.from-right:before,
.from-right:after {
  top: 0;
  width: 0;
  height: 100%;
}

.from-right:before {
  left: 0;
  border: 2px solid $main-text-color;
  border-left: 0;
  border-right: 0;
  z-index: 1;
}

.from-right:after {
  right: 0;
}

.from-right:hover:before,
.from-right:hover:after {
  width: 100%;
}

@media screen and (max-width: 1240px) {
  .square {
    width: 200px;
    height: 200px;
    border: 10px solid $second-color;
  }

  .wraper-text {
    top: 80px;
    left: 80px;
  }

  .info {
    h1 {
      font-size: 46px;
      letter-spacing: 23px;
    }

    p {
      font-size: 14px;
      margin-top: 7px;
    }
  }
}

@media screen and (max-width: 705px) {

  h3 {
    margin: 0px auto;
    position: absolute;
    top: 40px;
    left: auto;
  }

  .square {
    width: 100px;
    height: 100px;
    border: 8px solid $second-color;
  }

  .wraper-text {

    top: 27px;
    left: -125px;
  }

  .info {

    h1 {
      width: 100%;
      font-size: 46px;
      letter-spacing: 23px;
    }

    p {
      font-size: 14px;
      margin-top: 40px;
    }
  }

  .button-wraper {
    margin: 50px 0px 0px 0px;
  }
}

@media screen and (max-width: 395px) {

  .wraper-text {
    top: 23px;
    left: -83px;
  }

  .info {

    h1 {
      letter-spacing: 8px;
    }
  }
}