<section>
  <div class="navi-wrap">
    <a [routerLink]="['/work']">
      <img src="../../../assets/Images/arrow_back_icon.svg">
      <div>Back</div>
    </a>
  </div>
  <div class="title">
    <h1>Personal website</h1>
  </div>
  <div class="wraper-block">
    <div class="image-block">
      <a href="https://projects-for-my-cv-2022.on.drv.tw/www.business card website.com/" target="_blank">
        <img src="../../../assets/Images/Business card web page.jpg" alt="Personal website image">
      </a>
    </div>
    <div class="info-block">
      <p>
        The personal website is one of the first pages I created. The site is suitable for the
        implementation of a portfolio or for your business card.<br>
        On this web page, I used figma layout with Pixel Perfect and bootstrap, made
        an adaptive layout for different screen sizes.
      </p>
      <a href="https://projects-for-my-cv-2022.on.drv.tw/www.business card website.com/" target="_blank">
        <p class="projeckt-url">Go to project</p>
      </a>
    </div>
  </div>
  <div class="spacer-80px"></div>
</section>