<div class="container">
  <section class="aboutme-section">
    <div class="photo">
      <p alt="Dolbnia Alexander's Photo">
    </div>
    <div class="mobil-about">
      <div class="wraper-about">
        <h1>ABOUT ME</h1>
        <p>WHo AM i</p>
        <div class="about-info">I'm a front-end web developer who does a
          bit of web design. My main areas of knowledge include Javascript, Typescript,
          HTML, CSS, SCSS and Angular. My passion for front-end development stems from my
          desire to create impressive and interactive user interfaces, websites, or
          applications that inspire and facilitate user interaction. I am confident in
          my ability to quickly learn new technologies and adapt to changes in the
          fast-paced development environment.<br>
          To truly enjoy life, it is important to do what you love, because work will
          occupy a large part of my life.
        </div>
        <a [href]="url" download="resume" target="_blank">
          <div class="btn from-right">Download resume</div>
        </a>
      </div>
    </div>
  </section>
</div>
<div class="container">
  <section class="education-section">
    <div class="education-header">
      <h1 id="Edu-scroll">Education</h1>
      <p id="lerning-scroll">learning</p>
    </div>
    <div class="education-data">
      <div class="education-rows-right">
        <div class="educationbox">
          <div class="educationbox-year">
            <h1>2022</h1>
          </div>
          <div class="educationbox-info">
            <h3><b>Logos IT school</b></h3>
            <p> I was dealing with: HTML, CSS, SASS/SCSS, JavaScript, Typescript, MySQL. In my works I
              have experience of using: Pixel perfect, Figma,
              Adaptive and responsive web design, Gulp, OOP, JSON,
              jQuery UI, Bootstrap, Angular.
            </p>
          </div>
        </div>
      </div>
      <div class="education-rows-left">
        <div class="educationbox-left">
          <div class="educationbox-info">
            <h3><b>Self-education</b></h3>
            <p>I'm actively involved in self-education in W3schools,
              Codecademy, Udemy etc. I'm familiar with: GitHub, Agile, Scrum,
              JavaScript ES6, Regular expressions, xmlHTTPRequest,
              async await, fetch, Document Object Model (DOM),
            </p>
          </div>
          <div class="educationbox-year">
            <h1>2021</h1>
          </div>
        </div>
      </div>
      <div class="education-rows-right">
        <div class="educationbox">
          <div class="educationbox-year">
            <h1>2001</h1>
          </div>
          <div class="educationbox-info">
            <h3><b>National Forestry University of Ukraine.</b></h3>
            <p>Specialty engineering mechanics, fulltime
              education, incomplete higher. 2001.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <section class="experiance-section">
      <div class="education-header">
        <h1>Experiance</h1>
        <p>Involvement</p>
      </div>
      <div class="wraper-experiancebox">
        <div class="experiancebox">
          <h3>Hired by the dream to create.</h3>
          <p>Front-end developer.</p>
          <p>I'm looking for my first job as a front end developer.
            I have no commercial experience in web development but
            I improve my programming skills on a daily basis by
            creating web pages and solving problems using java script.
          </p>
          <div class="experiancebox-year">2022</div>
        </div>

        <div class="experiancebox">
          <h3>LLC "HAVAS INGAGE UKRAINE"</h3>
          <p>Brand ambassador. 2014 – present.</p>
          <p>Conducted trainings, presented brand products, engaged in merchandising,
            customer consulting and product sales.
          </p>
          <div class="experiancebox-year">2014 – 2022</div>
        </div>

      </div>
    </section>
  </div>
</div>