<section class="background">
  <div class="section">
    <video autoplay loop muted class="background-video">
      <source src="../../../assets/video/video (1080p).mp4" type="video/mp4">
    </video>
    <section class="aboutme-section">
      <div class="photo">
        <p alt="Dolbnia Alexander's Photo">
      </div>
      <div class="mobil-about">
        <div class="wraper-about">
          <h1>ABOUT ME</h1>
          <p>WHo AM i</p>
          <div class="about-info">I'm a front-end web developer who does a
            bit of web design. My main areas of knowledge include Javascript, Typescript,
            HTML, CSS, SCSS and Angular. My passion for front-end development stems from my
            desire to create impressive and interactive user interfaces, websites, or
            applications that inspire and facilitate user interaction. I am confident in
            my ability to quickly learn new technologies and adapt to changes in the
            fast-paced development environment.<br>
            To truly enjoy life, it is important to do what you love, because work will
            occupy a large part of my life.
          </div>
          <a [href]="url" download="resume" target="_blank">
            <div class="btn from-right">Download resume</div>
          </a>
        </div>
      </div>
    </section>
  </div>
  <div class="section">
    <section class="education-section">
      <div class="education-header">
        <h1 class="edu-scroll">Education</h1>
        <p class="lerning-scroll">learning</p>
      </div>
      <div class="education-data">
        <div class="education-rows-right">
          <div class="educationbox">
            <div class="educationbox-year">
              <h1>2022</h1>
            </div>
            <div class="educationbox-info">
              <h3><b>Logos IT school</b></h3>
              <p> I was dealing with: HTML, CSS, SASS/SCSS, JavaScript, Typescript, MySQL. In my works I
                have experience of using: Pixel perfect, Figma,
                Adaptive and responsive web design, Gulp, OOP, JSON,
                jQuery UI, Bootstrap, Angular.
              </p>
            </div>
          </div>
        </div>
        <div class="education-rows-left">
          <div class="educationbox-left">
            <div class="educationbox-info">
              <h3><b>Self-education</b></h3>
              <p>I'm actively involved in self-education in W3schools,
                Codecademy, Udemy etc. I'm familiar with: GitHub, Agile, Scrum,
                JavaScript ES6, Regular expressions, xmlHTTPRequest,
                async await, fetch, Document Object Model (DOM),
              </p>
            </div>
            <div class="educationbox-year">
              <h1>2021</h1>
            </div>
          </div>
        </div>
        <div class="education-rows-right">
          <div class="educationbox">
            <div class="educationbox-year">
              <h1>2001</h1>
            </div>
            <div class="educationbox-info">
              <h3><b>National Forestry University of Ukraine.</b></h3>
              <p>Specialty engineering mechanics, fulltime
                education, incomplete higher. 2001.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div>
      <section class="experiance-section">
        <div class="education-header">
          <h1 class="ex-scroll">Experiance</h1>
          <p class="inv-scroll">Involvement</p>
        </div>
        <div class="wraper-experiancebox">
          <div class="experiancebox">
            <h3>Hired by the dream to create.</h3>
            <p>Front-end developer.</p>
            <p>I am actively seeking my first role as a front-end developer. While I lack
              commercial web development experience, I am continuously enhancing my programming
              skills by crafting web pages, tackling challenges, and exploring new tools to
              apply in my work.
            </p>
            <div class="experiancebox-year">2023</div>
          </div>
          <div class="experiancebox">
            <h3>LLC "HAVAS INGAGE UKRAINE"</h3>
            <p>Brand ambassador. 2014 – present.</p>
            <p>Conducted trainings, presented brand products, engaged in merchandising,
              customer consulting and product sales.
            </p>
            <div class="experiancebox-year">2014 – 2023</div>
          </div>
        </div>
      </section>
    </div>
    <div class="container-creativity">
      <section class="creativity-section">
        <div class="education-header">
          <h1 class="cr-scroll">Creativity</h1>
          <p class="le-scroll">Leisure</p>
        </div>
        <div class="carousel-container">
          <div class="carousel-info">
            My musical project 'My Musical Intention' is my embodiment in notes and words.
            I interweave together music, lyrics, and my own performing style, creating
            atmospheric melodies. As a composer, performer, and sound engineer, I craft melodies
            that tell stories and convey emotions. This demands discipline, determination, and
            attention to detail – qualities I carry into everything I do. Just as in music,
            so in design, each chord or detail carries its own meaning, shaping impressions.
            I bring this analytical approach and the ability to read between the lines into my
            work, ensuring top-notch design that will set your company apart from competitors.
          </div>
          <div class="carousel-wraper">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <iframe src="https://www.youtube.com/embed/9_tyC7ZjrXM?si=KmDBx2vHPeH4nwlM" frameborder="0"
                    allowfullscreen></iframe>
                </div>
                <div class="carousel-item">
                  <iframe src="https://www.youtube.com/embed/0qhz0TQwOug?si=_MM8cQ3R9q8zVNDv" frameborder="0"
                    allowfullscreen></iframe>
                </div>
                <div class="carousel-item">
                  <iframe src="https://www.youtube.com/embed/IsiqpLrP818?si=dPYIMjDWfHIAIgSP" frameborder="0"
                    allowfullscreen></iframe>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="spacer-200"></div>
</section>
