@import '../../../shared/styles/variables';

section {
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 36px;
}

.task-description {
  margin: 10px 0px;
  text-align: center;
  font-size: 16px;
  color: $second-text-color;
}

.wrapper {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 30px;
  max-width: 1000px;
  height: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
  position: relative;
}

header div b {
  text-shadow: 1px 0px 5px rgb(214, 0, 0), 0 0 1em rgb(255, 255, 255), 0 0 0.1em rgb(134, 134, 134);
}

.input-wraper {
  max-width: 670px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
}

input[type="text"] {
  width: 500px;
  height: 40px;
  font-size: 20px;
  outline: none;
  padding-left: 10px;
  box-shadow: 0px 0px 10px 3px rgb(135, 135, 135) inset;
  font-family: 'Courier New', Courier, monospace;
}

input[type="text"]::placeholder {
  font-size: 16px;
  color: rgba(82, 82, 82, 0.523)
}

#add-phone,
#delete-contact,
#edit-contact,
#btnSave {
  height: 40px;
  position: relative;
  background-color: #507424;
  color: $main-text-color;
  padding: 0.7em 1.5em;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  transition-duration: 0.4s;
}

#add-phone:hover{
  background-color: hsl(87, 53%, 40%);
}

#btnSave {
  border: 1px solid $main-text-color;
}

#delete-contact:hover,
#edit-contact:hover,
#btnSave:hover {
  transition-duration: 0.1s;
  background-color: #2b2b2b;
}

#add-phone::after,
#delete-contact::after,
#edit-contact::after,
#btnSave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 5px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

#add-phone:active::after,
#delete-contact:active::after,
#edit-contact:active::after,
#btnSave:active::after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 5px;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

#add-phone:active,
#delete-contact:active,
#edit-contact:active,
#btnSave:active {
  top: 2px;
}

#delete-contact {
  background-color: rgb(134, 10, 10);
}

#delete-contact:disabled,
#edit-contact:disabled {
  background-color: $disabledButton;
  cursor: not-allowed;
}

#edit-contact {
  background-color: rgb(182, 125, 1);
}

#edit-contact:hover {
  background-color: rgb(202, 138, 0);
}

#edit-contact::after {
  box-shadow: 0 0 10px 40px rgb(255, 191, 52);
}

#edit-contact:active::after {
  box-shadow: 0 0 0 0 rgb(255, 255, 255);
}

#delete-contact:hover {
  background-color: rgb(161, 13, 13);
}

#delete-contact::after {
  box-shadow: 0 0 10px 40px rgb(255, 59, 59);
}

#delete-contact:active::after {
  box-shadow: 0 0 0 0 rgb(255, 255, 255);
}

table {
  width: 100%;
  height: 100px;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 30px;
  border-top: 2px solid rgb(180, 180, 180);
  color: $second-text-color;
}

tr {
  border-bottom: 2px solid rgb(180, 180, 180);
  height: 50px;
}

td {
  text-align: center;
  border-radius: 0px;
  transition-duration: 0.9s;
}

#light-row:hover {
  background: $linear-gradient;
  box-shadow: 0 0 15px 0px rgb(255, 255, 255);
}

.sort-buttons {
  width: 10px;
  height: 10px;
  margin-left: 5px;
  background: none;
  color: white;
}

.sort-buttons:hover {
  color: $disabledButton;
}

.modal-wraper {
  width: 100%;
  height: 100%;
  background-color: $modal-back;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs-wraper {
  width: 50%;
  height: 50%;
  background-color: $modal-back;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0px 0px 10px 0px #ffffff;
  z-index: 1;

  header {
    width: 100%;
  }
}

#modal-input {
  width: 80%;
}

.ap {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

#btnSave {
  width: 30%;
  cursor: pointer;
  margin-bottom: 10px;
}

#close-modal {
  width: 100%;
  text-align: end;
  height: 20px;

  b {
    margin: 5px;
    cursor: pointer;
  }
}

.modal-title {
  height: 40px;
  text-align: center;
}

#close-modal:hover {
  color: rgb(255, 255, 255);
}

.empty {
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

@media screen and (max-width: 1025px) {
  #add-phone {
    width: 40%;
    padding: 0px 5px;
    margin-left: 20px;
  }

  section {
    padding: 0px;
  }

  #edit-contact,
  #delete-contact {
    width: 100%;
    padding: 0.3rem;
  }

  #delete-contact {
    margin-left: 5px;
    width: 100%;
  }
}

@media screen and (max-width: 770px) {
  .wrapper {
    padding: 0px;
  }

  th {
    font-size: 14px;
  }

  .inputs-wraper {
    width: 70%;
  }
}

@media screen and (max-width: 430px) {

  th {
    font-size: 12px;
  }

  td {
    font-size: 12px;
  }

  .sort-buttons {
    margin-left: 50px;
  }

  #delete-contact {
    width: 100%;
    margin: 0px;
  }

  input[type="text"] {
    width: 100%;
  }

  input[type="text"]::placeholder {
    font-size: 12px;
  }

  .inputs-wraper {
    width: 100%;
  }

  #modal-input {
    width: 90%;
  }

  .ap {
    width: 90%;
  }
}