@import'../../shared/styles/_variables.scss';

.navi-wrap {
  margin-top: 50px;
  padding: 10px 50px;

  a {
    display: flex;

    img {
      width: 20px;
      transition-duration: 0.5s;
    }

    img:hover {
      transition-duration: 0.3s;
      text-shadow: 0px 0px 10px $main-text-color;
      transform: scaleX(1.5);
    }

    div {
      padding-left: 5px;
      transition-duration: 0.5s;
    }

    div:hover {
      text-shadow: 0px 0px 10px $main-text-color;
      transform: scale(1.2);
    }
  }
}

.title {
  display: flex;
  justify-content: center;
  margin: 30px 0px;

  h1 {
    font-size: 50px;
  }
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.left-wraper {
  width: 20%;
}

.task-list {
  height: 100%;

  li {
    display: block;
    padding: 10px;
    width: 100%;
  }
}

.right-wraper {
  width: 80%;
}

.display {
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgb(100, 100, 100);
}

.spacer-100px {
  height: 100px;
}