<section>
  <video [autoplay]="shouldAutoplay()" loop muted class="background-video">
    <source src="../../../assets/video/planet.mp4" type="video/mp4">
  </video>
  <audio [autoplay]="shouldAutoplay()" loop>
    <source src="../../../assets/audio/Catching Stars - Drifting Apart.mp3" type="audio/mpeg">
  </audio>
  <audio id="hover-sound">
    <source src="../../../assets/audio/foto2.mp3" type="audio/mpeg">
  </audio>
  <audio id="name-sound">
    <source src="../../../assets/audio/logo.mp3" type="audio/mpeg">
  </audio>
  <div class="home-banner">
    <div class="align-banner">
      <div class="home-image" (mouseenter)="playHoverSound()" (mouseleave)="stopHoverSound()">
      </div>
    </div>
    <div class="banner-info">
      <h2>
        <span class="text-animation">H</span>
        <span class="text-animation">e</span>
        <span class="text-animation">l</span>
        <span class="text-animation">l</span>
        <span class="text-animation">o</span>
        <span class="text-animation">,</span>
        <span class="text-animation spacer-span"> </span>
        <span class="text-animation">I</span>
        <span class="text-animation">'</span>
        <span class="text-animation">m</span>
      </h2>
      <div>
        <h1>
          <div class="first-name" (mouseenter)="playNameSound()" (mouseleave)="stopNameSound()">
            <span class="text-animation">O</span>
            <span class="text-animation">l</span>
            <span class="text-animation">e</span>
            <span class="text-animation">k</span>
            <span class="text-animation">s</span>
            <span class="text-animation">a</span>
            <span class="text-animation">n</span>
            <span class="text-animation">d</span>
            <span class="text-animation">r</span>
            <span class="text-animation spacer-span"> </span>
          </div>
          <div class="last-name" (mouseenter)="playNameSound()" (mouseleave)="stopNameSound()">
            <span class="text-animation">D</span>
            <span class="text-animation">o</span>
            <span class="text-animation">l</span>
            <span class="text-animation">b</span>
            <span class="text-animation">n</span>
            <span class="text-animation">i</span>
            <span class="text-animation">a</span>
          </div>
        </h1>
      </div>
      <p class="block-animation">I'm a front-end web developer who does a bit of web design.
        My main areas of knowledge include Javascript, Typescript,
        HTML, CSS, SCSS and Angular.
      </p>
      <a class="button-animation" [routerLink]="['/work']">
        <div class="btn from-right" (mouseenter)="playHoverSound()" (mouseleave)="stopHoverSound()" (click)="toTop()">
          See my works
        </div>
      </a>
    </div>
  </div>
</section>
<div class="spacer"></div>
<div class="cta">
  <h4>Interested in collaboration?</h4>
  <p>Leave me a message on 
    <a href="https://t.me/My_Musical_Intention" target="_blank">
      <strong>Telegram</strong>
    </a>, and I'll get back to you shortly."
  </p>
</div>