<section>
  <div class="home-banner">
    <div class="align-banner">
      <div class="home-image"></div>
    </div>
    <div class="banner-info">
      <h2>Hello, I`m</h2>
      <h1>Oleksandr Dolbnia</h1>
      <p>I'm a front-end web developer who does a bit of web design.
        My main areas of knowledge include Javascript, Typescript,
        HTML, CSS, SCSS and Angular.
      </p>
      <a [routerLink]="['/work']">
        <div class="btn from-right">See my works</div>
      </a>
    </div>
  </div>
</section>
<div class="spacer"></div>