<section>
  <div class="navi-wrap">
    <a [routerLink]="['/work']">
      <img src="../../../assets/Images/arrow_back_icon.svg" alt="arrow_back">
      <div>Back</div>
    </a>
  </div>
  <div class="title">
    <h1>My team</h1>
  </div>
  <div class="wraper-block">
    <div class="image-block">
      <a href="https://projects-for-my-cv-2022.on.drv.tw/www.team.com/" target="_blank">
        <img src="../../../assets/Images/Team web site.jpg" alt="Team web site image">
      </a>
    </div>
    <div class="info-block">
      <p>In this project, I used a multi-page site to navigate between pages.
        I used SASS, @keyframes animation and started using Java Script to work with the DOM,
        practiced working with forms and RegEx.
      </p>
      <a href="https://projects-for-my-cv-2022.on.drv.tw/www.team.com/" target="_blank">
        <p class="projeckt-url">Go to project</p>
      </a>
    </div>
  </div>
  <div class="spacer-80px"></div>
</section>