<section>
  <div class="navi-wrap">
    <a [routerLink]="['/work']">
      <img src="../../../assets/Images/arrow_back_icon.svg">
      <div>Back</div>
    </a>
  </div>
  <div class="title">
    <h1>Monosushi</h1>
  </div>
  <div class="wraper-block">
    <div class="image-block">
      <a href="https://github.com/Oleksandr-D/Monosushi" target="_blank">
        <img src="../../../assets/Images/Monosushi.jpg" alt="Monosushi image">
      </a>
    </div>
    <div class="info-block">
      <p>
        This is the final project that I did during my studies, on courses at the IT Academy.
        Monosushi is a multi-page site where you can register as a
        user and add new content (promotions, products, prices, etc.) as an administrator.<br>
        Website built with Angular using npm, Angular material, Responsive web design,
        data exchange and login through Firebase.

      </p>
      <a href="https://github.com/Oleksandr-D/Monosushi" target="_blank">
        <p class="projeckt-url">Go to project</p>
      </a>
    </div>
  </div>
  <div class="spacer-80px"></div>
</section>