<section>
  <div class="navi-wrap">
    <a [routerLink]="['/work']">
      <img src="../../../assets/Images/arrow_back_icon.svg">
      <div>Back</div>
    </a>
  </div>
  <div class="title">
    <h1>Safeguard</h1>
  </div>
  <div class="wraper-block">
    <div class="image-block">
      <a href="https://github.com/Oleksandr-D/safeguard" target="_blank">
        <img src="../../../assets/Images/Safeguard.jpg" alt="Safeguard image">
      </a>
    </div>
    <div class="info-block">
      <p>
        Safeguard is a test task using Angular. In this project, the task was
        to make one page of the "Contacts" site with validation of
        the contact form (RegExp) using the JSON server. <br>
        The layout of the project is carried out using the Figma layout using
        Pixel Perfect with adaptation for mobile devices.
      </p>
      <a href="https://github.com/Oleksandr-D/safeguard" target="_blank">
        <p class="projeckt-url">Go to project</p>
      </a>
    </div>
  </div>
  <div class="spacer-80px"></div>
</section>