@import '../../../shared/styles/variables';

section {
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 36px;
}

.task-description {
  margin: 10px 0px;
  text-align: center;
  font-size: 16px;
  color: $second-text-color;
}

.wrapper {
  margin: auto;
  margin-top: 70px;
  margin-bottom: 30px;
  max-width: 1000px;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  align-items: center;
}

.modal-window-wraper,
.sign-up-window-wraper {
  margin: auto;
  width: 100%;
  min-height: 350px;
  background-color: $modal-back;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-items: center;
  position: absolute;
  top: 0px;
  justify-content: center;
}

header {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  border-radius: 0px;
  height: 60px;
  padding: 0px 20px;
}

.hed-title {
  color: white;
  font-weight: bolder;
}

#add-post,
#user-name,
#sign-out {
  width: 100px;
  height: 40px;
  border-radius: 0px;
  background-color: black;
  transition-duration: 0.3s;
  margin-left: 5px;
  cursor: pointer;
}

#add-post {
  border: 2px solid green;
  color: green;
}

#add-post:hover {
  border: 2px solid rgb(255, 255, 255);
  background-color: green;
  color: rgb(255, 255, 255);
}

#user-name {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 230, 0);
}

#sign-out {
  border: 2px solid rgb(255, 166, 0);
  color: orange;
}

#sign-out:hover {
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  background-color: rgb(255, 166, 0);
}

.hed-dtn-wraper {
  width: 330px;
  display: inline-flex;
  justify-content: center;
}

main {
  width: 80%;
}

.block {
  width: 100%;
  min-height: 120px;
  box-shadow: 0px 0px 5px 3px #858585;
  margin-top: 15px;
  display: flex;
  padding: 20px 20px;
  font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.right-sec,
.left-sec {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.left-sec {
  width: 20%;
}

.block-btn-wraper {
  display: flex;
  justify-content: space-between;
}

.posted {
  color: #747474;
}

#btn-edit,
#btn-delete,
#close,
#submit {
  width: 70px;
  height: 30px;
  transition-duration: 0.3s;
  cursor: pointer;
}

#btn-edit,
#close {
  background-color: rgb(226, 147, 0);
}

#btn-edit {
  margin-right: 5px;
}

#btn-edit:hover,
#close:hover {
  color: #ffffff;
  background-color: rgb(238, 155, 0);
  box-shadow: 0px 0px 3px 1px #000000;
}

#submit {
  margin-left: 5px;
  background-color: rgb(0, 177, 0);
}

#submit:hover {
  color: #ffffff;
  background-color: rgb(0, 202, 0);
  box-shadow: 0px 0px 3px 1px #000000;
}

#btn-delete {
  background-color: rgb(202, 2, 2);
  color: #ffffff;
}

#btn-delete:hover {
  color: #000000;
  background-color: rgb(255, 0, 0);
  box-shadow: 0px 0px 3px 1px #000000;
}

.time-data {
  text-align: center;
}

.modal-window {
  width: 500px;
  height: 350px;
  background: $linear-gradient;
  box-shadow: 0px 0px 7px 1px #636363;
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.sign-up-window-wraper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: $linear-gradient;
  box-shadow: 0px 0px 7px 1px #636363;
}

.sign-up-window {
  width: 40%;
  height: 350px;
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .modal-title {
    height: 40px;
  }

  label {
    margin: 20px 0px 5px 0px;
  }

  .modal-btn-wraper {
    margin-top: 20px;
    justify-content: flex-start;
  }
}

.circle-wraper {
  width: 40%;
  height: 350px;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  justify-content: center;

  .circle {
    width: 250px;
    height: 250px;
    border: 3px solid $main-text-color;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .gray,
    .red,
    .first-red,
    .yellow,
    .second-yellow,
    .green {
      position: absolute;
      background-color: transparent;
      width: 100%;
      height: 100%;
    }

    .gray {
      width: 454px;
      height: 314px;
      clip-path: polygon(-185% 114%, 234% 156%, 103% 0);
      background-color: rgb(151, 151, 151);
      transform: rotate(306deg);
      left: -155px;
      top: -10px;
    }

    .first-red {
      width: 100%;
      height: 100%;
      background-color: rgb(107, 107, 107);
      z-index: 1;
      display: none;
    }

    .first-red.visible {
      display: block;
    }

    .red {
      clip-path: polygon(-106% 211%, 72% 63%, 54% 0);
      background-color: rgb(218, 42, 42);
      transform: rotate(130deg);
      left: 58px;
      top: -6px;
      z-index: 1;
      display: none;
    }

    .red.visible {
      display: block;
    }

    .second-yellow {
      clip-path: polygon(-106% 211%, 72% 63%, 54% 0);
      background-color: rgb(232, 232, 0);
      transform: rotate(130deg);
      left: 58px;
      top: -6px;
      z-index: 2;
      display: none;
    }

    .second-yellow.visible {
      display: block;
    }

    .yellow {
      clip-path: polygon(-204% 114%, 62% 65%, 103% 0);
      background-color: #ffff70;
      transform: rotate(213deg);
      z-index: 2;
      top: 60px;
      display: none;
    }

    .yellow.visible {
      display: block;
    }

    .green {
      background-color: green;
      z-index: 3;
      display: none;
    }

    .green.visible {
      display: block;
    }

    .small-circle {
      width: 130px;
      height: 130px;
      border: 3px solid $main-text-color;
      background-color: $main-color;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9;
      overflow: hidden;

      .password-level {
        font-family: 'Courier New', Courier, monospace;
        font-size: 18px;
        text-align: center;
        transition-duration: 0.3s;
      }
    }
  }
}

.modal-title {
  font-size: 25px;
  height: 50px;
  font-family: 'Courier New', Courier, monospace;
  border-bottom: 3px solid #999999;
  border-radius: 0px;
}

input,
textarea {
  height: 35px;
  background-color: #eaeaea7e;
  box-shadow: 0px 0px 7px 1px #000000;
  outline: none;
  padding-left: 5px;
  font-size: 17px;
}

input:focus,
textarea:focus {
  box-shadow: 0px 0px 5px 2px #ffffff;
  background-color: #c3c3c3;
}

.modal-btn-wraper {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

textarea {
  height: 100px;
  padding-left: 5px;
  font-size: 17px;
}

#submit:disabled {
  cursor: not-allowed;
  color: #ffffffb4;
  background-color: $disabledButton;
}

@media screen and (max-width:770px) {

  section {
    padding: 0px;
  }

  main {
    width: 100%;
  }

  .wrapper {
    padding: 0px;
  }

  .modal-window {
    width: 80%;
  }
}

@media screen and (max-width:430px) {
  header {
    padding: 0px 10px;
  }

  .hed-dtn-wraper {
    width: 100%;
    justify-content: flex-end;
  }

  #add-post,
  #user-name,
  #sign-out {
    width: 40%;
    height: 40px;
  }

  .block {
    width: 100%;
    box-shadow: none;
    margin-top: 40px;
    padding: 0px 5px;
  }

  .time-data {
    font-size: 12px;
  }

  .modal-window-wraper {
    padding: 0px;
  }

  .modal-window {
    width: 100%;
    padding: 0px 10px;
  }

}